<h1>Ma page test home.html.erb</h1><br>
<h3>Hadock</h3>

<%= link_to 'Inscription', new_model_registration_path %>
<%= link_to 'Connexion', new_model_session_path %>
<%= link_to 'Déconnexion', destroy_model_session_path, method: :delete %>


